body {
  padding-top: 56px; /* Ajuster selon la hauteur du header */
}

.navbar-nav .nav-link {
  font-weight: 500;
}

@media (max-width: 920px) {
  .navbar-collapse {
    background-color: #343a40;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

/* Personnalisation de la barre secondaire */
.sub-navbar {
  background-color: #343a40; /* Fond gris foncé */
}

.sub-navbar .nav-link {
  color: white;
}

h2 {
  position: relative;
  padding-left: 20px; /* Espace entre le rectangle et le texte */
  font-size: 32px; /* Ajustable selon les besoins */
}

h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px; /* Largeur du rectangle */
  height: 50%; /* Hauteur = demi-hauteur du texte */
  background-color: #FF6E21; /* Couleur du rectangle */
}